 .jumbotron{
  background-image: url("https://picsum.photos/200");
  color:white;
    font-family: 'Lobster', cursive;
    height:100%;
    background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}
h1{
  padding: 15% 0%;
}
body,html{
  height:100%;
}